@import 'vars';
@import 'global';
@import 'fonts';

// HEADER

.header__top{
    background-color: $bg;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header__btn{
    margin-right: 50px;
    background-color: $blue;
    border-radius: 16px;
}
.header__btn a{
    color: #fff;
    font-size: 14px;
    padding: 12px 19px;
}

.header__menu{
    background-color: #fff;
}
.menu{
    display: flex;
    align-items: center;
    height: 80px;
}
.menu__list a{
    color: #333333;
    font-size: 15px;
    font-weight: 500;
}
.menu__list{ 
    li{
    margin-right: 33px;
    display: inline-block;
    & + li{
       margin-left: 33px; 
    } 
    }
}
